version: '3.8'

services:
  public:
    build:
      context: ./public
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    networks:
      - chat_app_net

  server:
    build:
      context: ./server
      dockerfile: Dockerfile
    ports:
      - "5000:5000"
    environment:
      MONGODB_URL: "mongodb+srv://martinbergkvist13:campus09@test.yy3xqvh.mongodb.net/?retryWrites=true&w=majority"
    networks:
      - chat_app_net

  nginx:
    image: nginx
    ports:
      - "80:80"
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
    networks:
      - chat_app_net

networks:
  chat_app_net:
    driver: bridge

